body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calcBody {
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 525px;
    width: 350px;

}

.row {

    display: flex;
    justify-content: space-between;
}

.row button {
    padding: 25px 35px;
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.topRow button {
    padding: 25px 65px 25px 65px;
}

.screenRow {
    display: flex;
    justify-content: center;
}
.screen {
    height: 80px;
    width: 350px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
}

.calcOutline {
    border: black;
    border-radius: 12px;
    border-style: solid;
}