@font-face {
    font-family: 'FredokaOne';
    src: url(./fonts/FredokaOne-Regular.ttf);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    font-family: 'FredokaOne';
    font-size: 120px;
    margin: 20px;
}

.calcBody {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 545px;
    width: 350px;
    background-color: #63bda4;

}

.row {

    display: flex;
    justify-content: space-between;
}

.row button {
    padding: 25px 35px;
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.topRow button {
    padding: 25px 65px 25px 65px;
}

.screenRow {
    display: flex;
    justify-content: center;
}
.screen {
    height: 100px;
    width: 350px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #d9ffea;
}

.screenVal {
    margin: 8px;
    font-size: 32px;
}

.calcOutline {
    border: black;
    border-radius: 18px;
    border-style: solid;
}

.delete {
    background-color: #f20553;
}

button {
    text-decoration: none;
    border-radius: 12px;
    border: none;
}